{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
tap "aws/tap"
tap "hashicorp/tap"
tap "tofuutils/tap"
brew "kreuzwerker/taps/m1-terraform-provider-helper"
brew "ack"
brew "age"
brew "awscli"
brew "ansible"
brew "antidote"
brew "argocd"
brew "git"
brew "asdf"
brew "autojump"
brew "bash"
brew "bat"
brew "cosign"
brew "chezmoi"
brew "curl"
brew "eza"
brew "fd"
brew "fzf"
brew "git-crypt"
brew "helm"
brew "helmfile"
brew "htop"
brew "httpie"
brew "jq"
brew "k9s"
brew "kubernetes-cli"
brew "kubectx"
brew "ncdu"
brew "podman"
brew "pre-commit"
brew "pyenv"
brew "sops"
brew "speedtest-cli"
brew "starship"
brew "tenv"
brew "testssl"
brew "uv"
brew "vim"
brew "watch"
brew "wget"
brew "yq"
brew "zoxide"
brew "zsh"

cask "1password-cli"
cask "android-file-transfer"
cask "ankerwork"
cask "apache-directory-studio"
cask "appcleaner"
cask "arc"
cask "bruno"
cask "dbeaver-community"
cask "firefox"
cask "font-meslo-lg-nerd-font"
cask "gcloud-cli"
cask "google-chrome"
cask "ghostty"
cask "gpg-suite"
cask "insomnia"
cask "istat-menus"
cask "iterm2"
cask "keybase"
cask "logseq"
cask "microsoft-remote-desktop"
cask "mysqlworkbench"
cask "ngrok"
cask "obsidian"
cask "podman-desktop"
cask "postman"
cask "slack"
cask "spotify"
cask "the-unarchiver"
cask "visual-studio-code"
cask "vlc"
cask "zerotier-one"
EOF
{{ end -}}